services:
  mihomo:
    build: .
    container_name: mihomo-nas
    image: mihomo-nas:latest
    restart: always
    network_mode: "host" #web端口7838，dns端口1053
    volumes:
      - ./config:/etc/mihomo
      - ./logs:/var/log
    environment:
      - WEB_USER=admin
      - WEB_SECRET=password
