services:
  mihomo-tools:
    container_name: mihomo-tools
    image: kyleyu2024/mihomo-tools:latest
    restart: always
    network_mode: "host" #web端口7838，dns端口1053
    volumes:
      - ./config:/etc/mihomo
      - ./logs:/var/log
    environment:
      - WEB_USER=admin
      - WEB_SECRET=password
